name: build

on:
  push:
  #  paths:
  #    - '**.js'

jobs:
  build:

    name: my job
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        #node-version: [12.x, 14.x, 16.x]
        node-version: [12.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        exclude:
          - os: macos-latest
            node-version: 12.x

    steps:
    - name: my first step
      env:
        MY_VAR: Hi there! my name is
        FIRST_NAME: Dimas
        MIDDLE_NAME: Jesus
        LAST_NAME: Canas
      run: 
        echo $MY_VAR $FIRST_NAME $MIDDLE_NAME $LAST_NAME
        
    - name: my second step
      if: success()
      run: echo "The previous step has finished successfully"
      
    
    #adding workflows
    #- uses: actions/checkout@v2
    #- name: Use Node.js ${{ matrix.node-version }}
    #  uses: actions/setup-node@v2
    #  with:
    #    node-version: ${{ matrix.node-version }}
    #    cache: 'npm'
    #- run: npm ci
    #- run: npm run build --if-present
